{% extends "PatinhadoWeb/Base.html" %}
{% load static %}
{% block title %}Alterar Senha{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'PatinhadoWeb/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-card">
        <h1>Alterar Senha</h1>
        <p class="subtitle">Digite sua nova senha</p>
        <form method="post">
            {% csrf_token %}
            <table class="formulario">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Alterar Senha" class="btn-submit">
        </form>
        <p class="register-link"><a href="{% url 'profile' %}">Voltar ao Perfil</a></p>
    </div>
</div>
{% endblock %}